.fundotoponol {
widht: 540px;
height: 190px;
background-repeat: no-repeat;
background-position: center;
}
.statusn {
margin-top: 100px;
display: inline-block;
opacity: 0;
transition: opacity 1s ease-in-out;
-moz-transition: opacity 1s ease-in-out;
-webkit-transition: opacity 1s ease-in-out;
}
.hpnol {
width: 100px;
background: #F03C3C;
opacity: 0.75;
margin: 0px 5px 0px 5px;
padding: 0px 2px 0px 3px;
}
.reiatsunol {
width: 100px;
background: #477DE9;
opacity: 0.75;
margin: 0px 5px 0px 5px;
padding: 0px 2px 0px 3px;
}
.stamianol {
width: 100px;
background: #EE9D46;
opacity: 0.75;
margin: 0px 5px 0px 5px;
padding: 0px 2px 0px 3px;
}
.fundotoponol:hover .statusr {
opacity: 1;
}
